{% extends 'admin/admin_base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                {% if user.profile_pic %}
                    <img src="{{ user.profile_pic.url }}" class="rounded-circle mb-3" width="150">
                {% else %}
                    <img src="{% static 'images/default-profile.png' %}" class="rounded-circle mb-3" width="150">
                {% endif %}
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                <p>{{ user.email }}</p>
                <p>{{ user.contact_number }}</p>
                <p>{{ user.address }}</p>
                <p>{{ user.dob }}</p>

                <div class="d-grid gap-2">
                    <a href="{% url 'admin_profile_update' %}" class="btn btn-warning btn-lg mb-2">Update Profile</a>
                    <a href="{% url 'admin_password_change' %}" class="btn btn-danger btn-lg mb-2">Change Password</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
